In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [74]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
827,tt1124035,12500000,75993061,The Ides of March,Ryan Gosling|George Clooney|Philip Seymour Hof...,George Clooney,Ambition seduces. Power corrupts.,Dirty tricks stand to soil an ambitious young ...,101,Drama,Appian Way|Crystal City Entertainment|Cross Cr...,9/24/2011,6.4,2011
838,tt0881320,30000000,108609310,Sanctum,Ioan Gruffudd|Richard Roxburgh|Alice Parkinson...,Alister Grierson,The only way out is down.,"The 3-D action-thriller Sanctum, from executiv...",108,Action|Thriller,Universal Pictures|Wayfare Entertainment|Sanct...,2/3/2011,5.7,2011
430,tt1155076,40000000,357852395,The Karate Kid,Jaden Smith|Jackie Chan|Taraji P. Henson|Yu Ro...,Harald Zwart,A Challenge He Never Imagined. A Teacher He Ne...,12-year-old Dre Parker could have been the mos...,140,Action|Adventure|Drama|Family,Columbia Pictures|Jerry Weintraub Productions|...,6/10/2010,6.1,2010
588,tt0234829,34000000,19693891,Summer Catch,Freddie Prinze Jr.|Jessica Biel|Fred Ward|Matt...,Mike Tollin,Are you game?,A coming-of-age romantic comedy set against th...,108,Drama|Comedy|Romance,Tollin/Robbins Productions|Warner Bros.,8/22/2001,4.8,2001
1555,tt0444182,14500000,22963701,IndigÃ¨nes,Jamel Debbouze|Samy Naceri|Roschdy Zem|Sami Bo...,Rachid Bouchareb,The true story of World War II's forgotten her...,"During WWII, four North African men enlist in ...",128,Drama|History|War,Tessalit Productions,5/25/2006,6.7,2006

In [75]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [76]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [77]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides'#+
# если ответили верно, можете добавить комментарий со значком "+"

In [78]:
# тут пишем ваш код для решения данного вопроса:
data_1 = data.sort_values('budget', ascending = False)
data_1.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010

ВАРИАНТ 2

In [79]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [80]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals'#+

In [81]:
data_1 = data.sort_values('runtime', ascending = False)
data_1.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1736,tt0462322,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,6.5,2007
1336,tt0360717,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,6.4,2005
504,tt0213149,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,6.6,2001

# 3. Какой из фильмов самый короткий (в минутах)?

In [82]:
answers['3'] = '3. Winnie the Pooh'#+
data_1 = data.sort_values('runtime', ascending = True)
data_1.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011
930,tt0280030,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,6.2,2002
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003
1408,tt0361089,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,5.3,2005
1626,tt0299172,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,5.8,2004

# 4. Какова средняя длительность фильмов?

In [83]:
answers['4'] = '2. 110 min'#+
data_1 = data.runtime.mean()
data_1

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [84]:
answers['5'] = '1. 107 min'#+
data_1 = data.runtime.median()
data_1

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [85]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar'#+
data_2 = data.copy()
data_2['profit'] = data.revenue - data.budget
data_3 = data_2.sort_values('profit', ascending = False)
data_3.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810

# 7. Какой фильм самый убыточный?

In [86]:
answers['7'] = '5. The Lone Ranger'#+
data_3 = data_2.sort_values('profit', ascending = True)
data_3.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1616,tt0318974,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,5.9,2004,-119180039
809,tt1305591,150000000,38992758,Mars Needs Moms,Seth Green|Joan Cusack|Dan Fogler|Breckin Meye...,Simon Wells,Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,Adventure|Animation|Family,Walt Disney Animation Studios,3/9/2011,5.5,2011,-111007242

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [87]:
answers['8'] = '1. 1478'#+
data_2 = data.copy()
data_2['profit'] = data.revenue - data.budget
data_4  = data_2.profit.apply(lambda x:x>0)
data_4.value_counts()

True     1478
False     411
Name: profit, dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [88]:
answers['9'] = '4. The Dark Knight'#+
data_2 = data.copy()
data_2['profit'] = data.revenue - data.budget
data_5 = data_2.loc[data_2['release_year'] == 2008]
data_6  = data_5.sort_values('profit', ascending = False)
data_6.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [89]:
answers['10'] = '5. The Lone Ranger'#+
data_2 = data.copy()
data_2['profit'] = data.revenue - data.budget
data_5 = data_2.loc[(data_2['release_year'] >= 2012) & (data_2['release_year'] <= 2014)]
data_6  = data_5.sort_values('profit', ascending = True)
data_6.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525

# 11. Какого жанра фильмов больше всего?

In [90]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'#+
data_4  = data_2.genres
data_4.value_counts()

Comedy                                     141
Drama                                      102
Comedy|Romance                              60
Drama|Romance                               45
Comedy|Drama|Romance                        35
                                          ...
Drama|Science Fiction|Mystery|Romance        1
Comedy|Crime|Thriller                        1
Action|Fantasy|Science Fiction|Thriller      1
Thriller|Action|Adventure|Drama              1
Action|Thriller|Science Fiction|Mystery      1
Name: genres, Length: 652, dtype: int64

ВАРИАНТ 2

In [91]:
data_11 = data_2.copy()
data_11['genres'] = data_11['genres'].str.split('|')
data_11 = data_11.explode('genres')

data_11.groupby(by = 'genres')['profit'].count().sort_values(ascending = False)

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: profit, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [92]:
answers['12'] = '1. Drama'#+

data_12 = data_2.copy()
data_12['genres'] = data_12['genres'].str.split('|')
data_12 = data_12.explode('genres')

data_12[data_12['profit'] > 0].groupby(by = 'genres')['profit'].count().sort_values(ascending = False)

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [93]:
answers['13'] = '5. Peter Jackson'#+

data_13 = data_2.copy()
data_13['director'] = data_13['director'].str.split('|')
data_13 = data_13.explode('director')

data_13.groupby(by = 'director')['profit'].sum().sort_values(ascending = False)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Jack Sholder          -75171919
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Name: profit, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [94]:
answers['14'] = '3. Robert Rodriguez'#+

data_14 = data_2.copy()
data_14['director'] = data_14['director'].str.split('|')
data_14['genres'] = data_14['genres'].str.split('|')
data_14 = data_14.explode('director')
data_14 = data_14.explode('genres')

data_14[data_14['genres'] == 'Action'].groupby(by = 'director')['genres'].count().sort_values(ascending = False)

director
Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Whitesell        1
Brian A Miller        1
Jon Amiel             1
Jon Avnet             1
Luis Mandoki          1
Name: genres, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [95]:
answers['15'] = '3. Chris Hemsworth'#+

data_15 = data_2.copy()
data_15['cast'] = data_15['cast'].str.split('|')
data_15 = data_15.explode('cast')

data_15[data_15['release_year'] == 2012].groupby(by = 'cast')['profit'].sum().sort_values(ascending = False)

cast
Chris Hemsworth       1542450773
Denis Leary           1319460639
Scarlett Johansson    1299557910
Chris Evans           1299557910
Mark Ruffalo          1299557910
                         ...
Malin Ã…kerman         -43733509
Timothy Spall          -51893525
Heidi Hawkins          -51893525
James Kidnie           -51893525
Kirsten Dunst          -68109207
Name: profit, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [96]:
answers['16'] = '3. Matt Damon'#+

data_16 = data_2.copy()
data_16['cast'] = data_16['cast'].str.split('|')
data_16 = data_16.explode('cast')

data_16[data_16['budget'] > data_16['budget'].mean()].groupby(by = 'cast')['profit'].count().sort_values(ascending = False)

cast
Matt Damon                 18
Adam Sandler               17
Angelina Jolie             16
Tom Cruise                 15
Eddie Murphy               15
                           ..
Jennifer Hudson             1
Jennifer Jason Leigh        1
Jennifer Saunders           1
Jennifer Tilly              1
Ã“lafur Darri Ã“lafsson     1
Name: profit, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [97]:
answers['17'] = '2. Action'#+

data_17 = data_2.copy()
data_17['cast'] = data_17['cast'].str.split('|')
data_17['genres'] = data_17['genres'].str.split('|')
data_17 = data_17.explode('cast')
data_17 = data_17.explode('genres')

data_17[data_17['cast'] == 'Nicolas Cage'].groupby(by = 'genres')['genres'].count().sort_values(ascending = False)

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [98]:
answers['18'] = '2. Action'#+

data_18 = data_2.copy()
data_18['production_companies'] = data_18['production_companies'].str.split('|')
data_18 = data_18.explode('production_companies')

data_18 = data_18.loc[(data_18['production_companies'] == 'Paramount Pictures') & (data_18['profit'] < 0)]
data_18  = data_18.sort_values('profit', ascending = True)
data_18.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [99]:
answers['19'] = '5. 2015'#+

data_19 = data_2.copy()

data_19.groupby(by = 'release_year')['profit'].sum().sort_values(ascending = False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [100]:
answers['20'] = '2. 2008'#- 1. 2014?

data_20 = data_2.copy()
data_20['production_companies'] = data_20['production_companies'].str.split('|')
data_20 = data_20.explode('production_companies')

data_20[data_20['production_companies'] == 'Warner Bros.'].groupby(by = 'release_year')['profit'].sum().sort_values(ascending = False)

release_year
2007    2167367993
2008    2134595031
2014    1886303827
2011    1871393682
2003    1855493377
2010    1853128844
2009    1833481628
2004    1675125175
2013    1636453400
2005    1551980298
2001    1428174853
2012    1258020056
2002    1072248589
2015     870368348
2006     614989614
2000     471305068
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [101]:
answers['21'] = '4. 9'#+

data_21 = data_2.copy()

data_21['release_date'].str.split('/').apply(lambda x:x[0]).value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [102]:
answers['22'] = '2. 450'#+

data_22 = data_2.copy()

data_22_1 = data_22['release_date'].str.split('/').apply(lambda x:x[0]).value_counts()
data_22_1[['6','7','8']].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [103]:
answers['23'] = '5. Peter Jackson'#+

import pandas as pd
data_23 = pd.read_csv('movie_bd_v5.csv')

data_23['release_date'] = pd.to_datetime(data_23['release_date'])
data_winter = data_23[data_23['release_date'].dt.month.isin([1, 2, 12])]
data_winter['director'] = data_winter['director'].str.split('|')
data_winter = data_winter.explode('director')
data_winter.groupby('director')['imdb_id'].count().sort_values(ascending=False)

<ipython-input-103-59fb3e9ec91f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_winter['director'] = data_winter['director'].str.split('|')

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
John Luessenhop      1
John Musker          1
John Polson          1
Callan Brunker       1
Xavier Palud         1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [104]:
answers['24'] = '5. Four By Two Productions'#+

data_24 = pd.read_csv('movie_bd_v5.csv')

data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')
data_24['original_title_len'] = data_24['original_title'].apply(len)
data_24.groupby(by = 'production_companies')['original_title_len'].max().sort_values(ascending = False)

production_companies
Twentieth Century Fox Film Corporation    83
Four By Two Productions                   83
Walt Disney                               62
Walden Media                              62
21 Laps Entertainment                     59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
Global Entertainment Group                 2
XM2 Productions                            2
Ixtlan Productions                         2
Name: original_title_len, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [105]:
answers['25'] = '3. Midnight Picture Show'#+

data_25 = pd.read_csv('movie_bd_v5.csv')

data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')
data_25['overview'] = data_25['overview'].apply(len)
data_25.groupby(by = 'production_companies')['overview'].mean().sort_values(ascending = False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
London Boulevard                           74.0
Henceforth                                 74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [106]:
answers['26'] = '1. The Dark Knight'#+

data_26 = pd.read_csv('movie_bd_v5.csv')
any_data = data_26.quantile(0.99, numeric_only = True)['vote_average']
data_26 = data[data['vote_average'] > any_data]
data_26.groupby('original_title').vote_average.mean().sort_values(ascending = False)

original_title
The Dark Knight                                  8.1
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Imitation Game                               8.0
12 Years a Slave                                 7.9
Gone Girl                                        7.9
Guardians of the Galaxy                          7.9
Inception                                        7.9
Memento                                          7.9
The Grand Budapest Hotel                         7.9
The Lord of the Rings: The Return of the King    7.9
The Pianist                                      7.9
The Wolf of Wall Street                          7.9
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [107]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'#+

import itertools as it

data_27 = pd.read_csv('movie_bd_v5.csv')

data_27_1 = data_27['cast'].apply(lambda s:str(s).split('|')).apply(lambda i: list(it.combinations(sorted(i), 2))).values.sum()
Counter(data_27_1).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

# Submission

In [108]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '2. 110 min',
 '5': '1. 107 min',
 '6': '5. Avatar',
 '7': '5. The Lone Ranger',
 '8': '1. 1478',
 '9': '4. The Dark Knight',
 '10': '5. The Lone Ranger',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '2. Action',
 '19': '5. 2015',
 '20': '2. 2008',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. The Dark Knight',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [109]:
# и убедиться что ни чего не пропустил)
len(answers)

27